// 
// Overlays
// 

.overlay-light {
    background-color: $overlay-light;
    height: 100%;
    width: 100%;
}
.overlay-dark {
    background-color: $overlay-dark;
    height: 100%;
    width: 100%;
}