// Heights and Widths
$navbar-height: 40px;

// Colours - global
$colour-standard: lightgrey;
$colour-success: green;
$colour-warning: orange;
$colour-error: red;
$colour-white: white;
$colour-grey: grey;
$colour-black: black;

// FIXME: Bootstrap overrides
// $body-bg: rgba(215, 206, 199, 1);
// $body-color: rgba(240, 164, 162, 0.37); 

// Colours - overlay
$overlay-dark: rgba(0,0,0,0.5);
$overlay-light: rgba(211,211,211,0.8);

// Line Weight
$line-weight-light: 2px;
$line-weight-standard: 5px;

// Box Shadow
$box-shadow-small: 0px 1px 2px 0px $colour-standard;
$box-shadow-standard: 0px 2px 5px 0px $colour-standard;
$box-shadow-large: 0px 5px 10px 0px $colour-standard;
$box-shadow-navbar: 0px 1px 1px 0px $overlay-dark;
