// 
// Custom SCSS and Bootstrap overrides (must come BEFORE bootstrap import)
// 

@import './reset'; // NOTE: this can be used as an alternative to Bootstrap _reboot.scss (imported at the bottom of this page), however the Bootstrap _reboot is far more comprehensive and is built to support many older and alternative browsers.
@import './variables';
@import './typography';
@import './classes';
// @import './buttons'; NOTE: currently the button naming convention is the same as bootstrap and will therefore override Bootstrap styles

// FIXME: background colour (Bootstrap override - should these be placed in their own partial?)
body {
    // background-color: $body-bg;
}

nav {
    box-shadow: $box-shadow-navbar;
    .navbar-nav {
        min-height: $navbar-height;
        .nav-item {
            height: 100%;
            .nav-link {
                transition: color 0.3s, border-bottom 0s;
            }
            .nav-link:hover {
                border-bottom: 0.1rem solid grey;
                padding-bottom: 0.4rem;
            }
            .mdi {
                // font-size: 1.3rem;
                // FIXME: why are MDI icons not square?! If we make the icon larger, it increases the height of the navbar (we don't want this!)
            }
        }
    }
}

// 
// INDEX.html
// 

.hero {
    background-image: url("../resources/images/hero_1.jpeg");
    background-size: cover;
    margin-top: $navbar-height;
    height: calc(100vh - #{$navbar-height});
    color: $colour-standard;
    .hero-content {
        margin-top: auto;
        @media only screen and (max-width: 576px) {
            .subtitle {
                display: none; // Hide subtitle on small screens because hero is too cramped
            }
        }
    }
    .hero-scroll {
        margin-top: auto;
        .mdi-chevron-down {
            font-size: 3rem;
            color: $colour-standard;
            position: relative;
            top: -12px; // MDI icon is 48x72px - this pushes it up slightly so there is less of a gap to the text above (essentially making the icon 48x48px)
        }
    }
}

#scroll-link {
    background: transparent;
    position: relative;
    top: 0 - ($navbar-height + 10px);
    z-index: -5; // Place behind hero banner
    height: 0;
}

.main-body {
    // TODO: remove magic number (30px) in calc below
    min-height: calc(100vh - #{$navbar-height + $footer-height + 30px}); // Required to ensure footer stays at bottom of page when there is not much text
    padding-bottom: $footer-height;
    &.main-body-margin {
        margin-top: $navbar-height + 30px; // TODO: remove magic number (30px) in calc
    }
    h1 {
        margin-bottom: 1rem;
    }
}

footer {
    height: $footer-height;
    position: absolute;
    bottom: 0px;
}

// 
// MG MODAL START
// TODO: reposition this code?
// 

.project {
    padding: 1.5rem 0;
    border-top: 1px solid $colour-grey;
    &:first-child { border-top: none; }
    .project-body, img {
        margin: 0 1.5rem;
    }
    @media only screen and (max-width: 768px) {
        .project-body {
            order: -1; // Push text above image on screen width < 768px
        }
    }
    img {
        max-width: 350px;
        height: 250px;
        border: 1px solid $colour-grey;
        border-radius: 1rem;
        cursor: pointer;
        transition: 0.3s;
    }
    img:hover { opacity: 0.7; }
    // Image MODAL - hidden by default
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 15; /* Sit on top */
        padding-top: 7rem; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
        img:hover { cursor: default; }
        img:hover { opacity: 1; }
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        height: auto;
    }
    .caption {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 700px;
        color: lightgrey;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .modal-content, .caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}

// 
// MG MODAL END
// 


// Contact details on index.html and contact.html
.contact-details {
    &:first-child { border-right: 1px solid $colour-grey; }
}
@media only screen and (max-width: 768px) {
    .contact-details {
        &:first-child {
            border-right: none;
        }
    }
}


// 
// Required CSS for Material Design Icons - https://materialdesignicons.com/bootstrap
// 

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

// 
// CSS for GALLERY
// 

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

// BOOTSTRAP must be imported last

// 
// Option A: Include all of Bootstrap
// 

// @import "../node_modules/bootstrap/scss/bootstrap";

// 
// Option B: Include parts of Bootstrap
// 

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional - included
@import "../node_modules/bootstrap/scss/reboot"; // This is a more comprehensive alternative to reset.css
@import "../node_modules/bootstrap/scss/grid"; // Provides grid functionality
@import "../node_modules/bootstrap/scss/images"; // Required for images in 'band members' section?
@import "../node_modules/bootstrap/scss/buttons"; // TODO: May want to override this (or at least the colours/styles?)
@import "../node_modules/bootstrap/scss/card"; // Required for card layout of 'band members'
@import "../node_modules/bootstrap/scss/nav"; // Required for navbar
@import "../node_modules/bootstrap/scss/navbar"; // Required for navbar
@import "../node_modules/bootstrap/scss/utilities"; // Required for navbar (inline layout)
@import "../node_modules/bootstrap/scss/transitions"; // Required for navbar (transitions)

// Optional - not included
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/tables";
// @import "../node_modules/bootstrap/scss/forms";
// @import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
// @import "../node_modules/bootstrap/scss/input-group";
// @import "../node_modules/bootstrap/scss/custom-forms";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/jumbotron";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/media";
// @import "../node_modules/bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/tooltip";
// @import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/print";

// 
// MG reset
// This file is used ONLY to override Bootstrap _reboot.scss
// For this reason it must be the very last import
// TODO: Perhaps better practice to directly remove/override the undesirable value within _reboot.scss?
// 

// @import './reset';